#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "realguse"
email = "me@realguse.com"

[ui]
editor = "nvim"
diff-editor = ":builtin"
default-command = "log"

[signing]
behavior = "own"
backend = "gpg"

[git]
sign-on-push = true

[aliases]
tug = ["util", "exec", "--", "sh", "-c", """
  if [ -n "$1" ]; then
    jj bookmark move "$1" --to 'closest_pushable(@)'
  else
    jj bookmark move --from 'closest_bookmark(@)' --to 'closest_pushable(@)'
  fi
""", "sh"]

[revset-aliases]
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
