#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "realguse"
email = "me@realguse.com"

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[ui]
default-command = "status"
diff-editor = ":builtin"

[signing]
behavior = "own"
backend = "gpg"

[git]
sign-on-push = true
